@font-face {
  font-family: "Cafe24Decobox";
  font-weight: normal;
  src: url("./Cafe24Decobox.ttf") format("truetype");
}

body {
  font-family: "Cafe24Decobox" !important;
}

#root, .App {
  height: 100%; /* 전체 화면 높이 사용 */
  display: flex;
  flex-direction: column; /* 위에서 아래로 정렬 */
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* variant가 primary인 btn 색 변경*/
.btn-primary{
  background-color: #3333c8 !important;
}

/* variant가 secondary인 btn 색 변경*/
.btn-secondary{
  background-color: #7f7fb7 !important;
}

/*
.outline-primary{
}*/

/*아이콘 글 높이 맞추기*/
svg {
  margin-bottom: 3px ; 
  margin-right: 5px;
} 
/* 네비게이션 바 스타일 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* 사이드바와 겹치지 않도록 위에 표시 */
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

/* 사이드바 스타일 */
.sidebar {
  position: fixed;
  top: 60px; /* 네비게이션 바 높이만큼 아래로 */
  left: 0;
  width: 200px;
  height: calc(100vh - 60px); /* 화면 전체에서 네비게이션 바 높이를 뺀 영역 */
  background-color: #ffffff;
  border-right: 1px solid #ffffff;
  padding: 20px;
  overflow-y: auto; /* 스크롤 가능 */
}

/* 메인 콘텐츠 스타일 */
.main-content {
  margin-top: 60px; /* 네비게이션 바 높이 */
  margin-left: 200px; /* 사이드바 너비 */
  padding: 20px;
  overflow: auto;
}
