.group-page-container {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .scroll-container {
    position: relative; /* 버튼 위치 기준 */
    display: flex;
    align-items: center; /* 수직 정렬 */
  }
  
  .group-list-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE 및 Edge */
    scrollbar-width: none; /* Firefox */
    padding: 0 50px;
  }


.group-list-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
  
  .group-list {
    display: flex;
    gap: 20px;
  }
  
  .group-card {
    flex: 0 0 auto;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-shrink: 0;
  }
  
  .group-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }


  
  .scroll-button.left {
    left: 10px;
  }
  
  .scroll-button.right {
    right: 10px;
  }
  