.custom-modal {
  max-width: 1200px;
  width: 95%;
}

.custom-modal .modal-dialog{
  max-width: 1200px;
  width: 90%;
}

.custom-modal .modal-content {
  max-width: 1200px;
  width: 95%;
}

.custom-modal .modal-header {
  background-color: #f7f7f7;
  padding: 20px;
}

.custom-modal .modal-body {
  padding: 20px;
  background-color: #f4f4f4;
}

.custom-modal .modal-footer {
  background-color: #f7f7f7;
  padding: 10px;
}


.modal-dialog {
  display: flex;
    align-items: center;
    justify-content: center;
}

/* TimeBars.css */
.modal .modal-content {
  display: flex;
  background: white;
    padding: 0px;
    border-radius: 8px;
    width: 100%;   /* modal-content 너비 100%로 설정 */
    text-align: center;
}

.modal-body {
  width: 100%;
  padding: 20px; /* 필요에 따라 패딩 조정 */
}
  
  .time-bar {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    gap: 0px;
  }
  
  .time-bar-name {
    width: 20%;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .my-time-bar .time-segment-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  .time-segment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .time-segment-bar {
    width: 30px;
    height: 50px;
    background-color: lightgray;
    border-radius: 2px;
    margin-bottom: 5px;
  }
  
  .time-segment-bar.available {
    background-color: #3333c8; /* Available time color */
  }
  
  .time-segment-label {
    font-size: 12px;
    color: #333;
  }
  
  .time-segment.selected .time-segment-bar {
    background-color: #7d33c8; /* Selected time color */
  }
  
  .time-segment-bar.overlapping {
    background-color: #ff8800; /* 겹치는 시간 강조 색상 */
}

  .time-segment.readOnly .time-segment-bar {
    background-color: #dcdcdc; /* 읽기 전용일 경우 배경색 */
  }
  
  .time-segment-label.readOnly {
    color: #888; /* 읽기 전용일 경우 텍스트 색상 */
  }

  .result-time-bar .time-segment-bar.available {
    background-color: rgb(99, 189, 87); /* Available time color */
  }

.timeSelectionHead{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  font-size: 18px;
  margin: 20px 0 10px;
  text-align: center;
  flex: 1;
}
.closeBtn {
  margin-left: auto;
  padding: 10px 20px;
  border: none;
  background: #7f7fb7;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
.btnContainer{
    display: flex;
    float:right;
  }

.submitBtn{
    margin-top: 20px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background: #3333c8;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

